.color-def {
  color: #1D4378
}

.header-box {
  background: #eaeaea ;
  color: #1D4378;
  font-weight: bold;
  /* font-family: cario; */
}

.logo-title {
  /* background: #eaeaea ; */
  color: #1D4378;
  font-weight: bold;
  font-family: gesstwo;
}

.sub-title {
  background: #eaeaea ;
  font-weight: bold;
  font-family: cairo;
}

.dif {
  font-family: gesstv;
}

/* .main-brand {
  color: #1D4378;   */
  /* font-family: Tajawal; */
  /* font-family: Amiri Bold; */
  /* font-family: cairo black; */
  /* font-family: GE SS Two;
  font-weight: bolder;
} */

.nav-item {
  font-family: cairo;
  font-weight: bolder;
  /* color:#f9c919; */
  color: white;
  text-shadow: 2px 2px 0px black;
}

.nav-item:hover {
  color: orange;
}

.auth-button1 {
  font-family: cairo;
  border: 2px solid #ffa500;
  /* box-shadow: 0.5px 1px 3px black; */
}

.auth-button2 {
  font-family: cairo;
  border: 2px solid #ffa500;
  /* box-shadow: 0.5px 1px 3px black; */
}


.auth-button1:hover {
  background: #ffa600;
  color: white;
}

.auth-button2:hover {
  color: white;
  background: #ffa600;
}

.cart {
  display: block;
  width: 25px;
  cursor: pointer;
}

.cart-text {
  font-family: gesstwo;
}

/* .btn {
  display: inline-block;
  padding: 12px 24px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  background: hsl(210, 98%, 22%);
  border: 2px solid #ff6b6b;
  border-radius: 4px;
  position: relative;
  overflow: hidden;
  transition: color 0.4s ease, background 0.4s ease, border-color 0.4s ease;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.2);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
}

.btn:hover {
  color: #ff6b6b;
  background: transparent;
  border-color: #ff6b6b;
}

.btn:hover::before {
  left: 100%;
} */


.btn {
  /* width: 180px;
  height: 50px; */
  font-weight: bold;
  font-size: 20px;
  background: hsl(210, 98%, 22%);
  /* color: #ffa500; */
  border: 2px solid #ffa500;
  border-radius: 100px;
  overflow: hidden;
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: -95%;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.508);
  transform: skewX(-45deg);
  transition: left 0.5s ease;
}

.btn:hover {
  transform: translateY(-1px) scale(1.01);
  box-shadow: 3px 3px 0px #ffa500;
  cursor: pointer;
}

.btn:hover::before {
  left: 95%;
}

.arw {
  transition: transform 0.6s ease;
}

.btn:hover .arw {
  transform: rotate(360deg);
}

/* //////////////////////////// */
/* old use */
.custom-box {
  background-color: var(--my-color, #4f46e5);
  color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.warning-text {
  background-color: var(--my-color, #03c703);
  color: #f87171;
  font-weight: bold;
}
