@import "tailwindcss/preflight";
@import "tailwindcss";
@tailwind utilities;

/* دعم RTL */
[dir="rtl"] {
  direction: rtl;
  text-align: right;
}

html[dir="rtl"],
body {
  margin: 0;
  padding: 0;
}

h1, h2, h3 {
  font-family: var(--font-cairo), sans-serif;
}
